{
    "openapi": "3.0.0",
    "info": {
        "title": "Plantar Futuro API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://plantarfuturo.com/test"
        },
        {
            "url": "http://localhost:8000"
        },
        {
            "url": "http://plantarfuturo.com/ws"
        },
        {
            "url": "http://localhost:8000"
        },
        {
            "url": "http://localhost:8000"
        },
        {
            "url": "http://plantarfuturo.com/ws"
        },
        {
            "url": "http://swagger.local"
        }
    ],
    "paths": {
        "/api/login": {
            "post": {
                "tags": [
                    "Usuario"
                ],
                "summary": "Login de usuarios",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::login",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "email"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Correo del usuario",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "Contraseña del usuario",
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login realizado."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Intento de login rechazado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/users": {
            "get": {
                "tags": [
                    "Usuario"
                ],
                "summary": "Mostrar usuarios",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::index",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los usuarios."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Usuario"
                ],
                "summary": "Registrar usuario",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::store",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "document": {
                                        "description": "Documento del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "ASD123"
                                    },
                                    "name": {
                                        "description": "Nombre del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "CA"
                                    },
                                    "lastname": {
                                        "description": "Apellido del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "MC"
                                    },
                                    "phone": {
                                        "description": "Telefono del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "3145586963"
                                    },
                                    "address": {
                                        "description": "Direccion del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Cra 1 Call 12"
                                    },
                                    "position_id": {
                                        "description": "Cargo del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "1"
                                    },
                                    "email": {
                                        "description": "Email del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "camc@gmail.com"
                                    },
                                    "password": {
                                        "description": "Password del usuario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "123456"
                                    },
                                    "document_type_id": {
                                        "description": "Tipo de documento",
                                        "type": "string",
                                        "format": "string",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Proyecto registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/users/risk-assignation": {
            "post": {
                "tags": [
                    "Usuario"
                ],
                "summary": "Asignacion de usuarios a proyectos de riesgos",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::riskAssignation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer"
                                    },
                                    "users": {
                                        "description": "Users ID's",
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "items": {}
                                        }
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "project_id": 1,
                                    "users": [
                                        1,
                                        2
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/users/assignation": {
            "post": {
                "tags": [
                    "Usuario"
                ],
                "summary": "Asignacion de usuarios a proyectos",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::assignation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer"
                                    },
                                    "users": {
                                        "description": "Users ID's",
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "items": {}
                                        }
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "project_id": 1,
                                    "users": [
                                        1,
                                        2
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/users/unassign": {
            "post": {
                "tags": [
                    "Usuario"
                ],
                "summary": "Desasignacion de usuarios de proyectos",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::unassign",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer"
                                    },
                                    "users": {
                                        "description": "Users ID's",
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "items": {}
                                        }
                                    }
                                },
                                "type": "object",
                                "example": {
                                    "project_id": 1,
                                    "users": [
                                        1,
                                        2
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/users/projects/{id}": {
            "get": {
                "tags": [
                    "Usuario"
                ],
                "summary": "Listado de proyectos por usuario",
                "operationId": "App\\Http\\Controllers\\Api\\AuthController::getProjects",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del usuario",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mostrar todos los proyectos."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/customer": {
            "get": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Mostrar lista de clientes",
                "operationId": "App\\Http\\Controllers\\Api\\CustomerController::index",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los clientes."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Registrar Cliente",
                "operationId": "App\\Http\\Controllers\\Api\\CustomerController::store",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "name": {
                                        "description": "Nombre del cliente",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Codensa"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/customer/{id}": {
            "get": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Ver Cliente",
                "operationId": "App\\Http\\Controllers\\Api\\CustomerController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del cliente",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mostrar todos los proyectos."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "put": {
                "tags": [
                    "Cliente"
                ],
                "summary": "Editar Cliente",
                "operationId": "App\\Http\\Controllers\\Api\\CustomerController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del cliente",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "name": {
                                        "description": "Nombre del cliente",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Codensa S.A."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/daily-report": {
            "get": {
                "tags": [
                    "[Plant & Civil] Reporte diario"
                ],
                "summary": "Mostrar lista de reportes diarios",
                "operationId": "App\\Http\\Controllers\\Api\\DailyReportController::index",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los reportes."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "post": {
                "tags": [
                    "[Plant & Civil] Reporte diario"
                ],
                "summary": "Registrar Reporte diario",
                "operationId": "App\\Http\\Controllers\\Api\\DailyReportController::store",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "responsible": {
                                        "description": "Responsable del reporte diario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Marlon Gamba"
                                    },
                                    "field_assistant": {
                                        "description": "Auxiliar de campo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Pedro Alarcon"
                                    },
                                    "location": {
                                        "description": "Sitio",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Huerta N1"
                                    },
                                    "report_date": {
                                        "description": "Fecha del reporte (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2019-05-26 13:45"
                                    },
                                    "people_number": {
                                        "description": "Numero de personas en campo",
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    },
                                    "type": {
                                        "description": "Tipo (1: Establecimiento, 2: Mantenimiento)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "activities": {
                                        "description": "Lista de actividades",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "default_activity_id": {
                                                    "description": "Id de la actividad",
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "hours": {
                                                    "description": "Cantidad de horas",
                                                    "type": "integer",
                                                    "example": "5"
                                                },
                                                "quantity": {
                                                    "description": "Cantidad de unidad de medida",
                                                    "type": "integer",
                                                    "example": "20"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "responsible": {
                                        "description": "Responsable del reporte diario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Marlon Gamba"
                                    },
                                    "field_assistant": {
                                        "description": "Auxiliar de campo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Pedro Alarcon"
                                    },
                                    "location": {
                                        "description": "Sitio",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Huerta N1"
                                    },
                                    "report_date": {
                                        "description": "Fecha del reporte (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2019-05-26 13:45"
                                    },
                                    "people_number": {
                                        "description": "Numero de personas en campo",
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    },
                                    "type": {
                                        "description": "Tipo (1: Establecimiento, 2: Mantenimiento)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "activities": {
                                        "description": "Lista de actividades",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "default_activity_id": {
                                                    "description": "Id de la actividad",
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "hours": {
                                                    "description": "Cantidad de horas",
                                                    "type": "integer",
                                                    "example": "5"
                                                },
                                                "quantity": {
                                                    "description": "Cantidad de unidad de medida",
                                                    "type": "integer",
                                                    "example": "20"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reporte registrado."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/daily-report/{id}": {
            "get": {
                "tags": [
                    "[Plant & Civil] Reporte diario"
                ],
                "summary": "Ver reporte diario",
                "operationId": "App\\Http\\Controllers\\Api\\DailyReportController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del reporte",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mostrar todos los reportes."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "put": {
                "tags": [
                    "[Plant & Civil] Reporte diario"
                ],
                "summary": "Editar Reporte diario",
                "operationId": "App\\Http\\Controllers\\Api\\DailyReportController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id (Primary Key) del Reporte diario",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "responsible": {
                                        "description": "Responsable del reporte diario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Marlon Gamba"
                                    },
                                    "field_assistant": {
                                        "description": "Auxiliar de campo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Pedro Alarcon"
                                    },
                                    "location": {
                                        "description": "Sitio",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Huerta N1"
                                    },
                                    "report_date": {
                                        "description": "Fecha del reporte (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2019-05-26 13:45"
                                    },
                                    "people_number": {
                                        "description": "Numero de personas en campo",
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    },
                                    "type": {
                                        "description": "Tipo (1: Establecimiento, 2: Mantenimiento)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "activities": {
                                        "description": "Lista de actividades",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "default_activity_id": {
                                                    "description": "Id de la actividad",
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "hours": {
                                                    "description": "Cantidad de horas",
                                                    "type": "integer",
                                                    "example": "5"
                                                },
                                                "quantity": {
                                                    "description": "Cantidad de unidad de medida",
                                                    "type": "integer",
                                                    "example": "20"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "responsible": {
                                        "description": "Responsable del reporte diario",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Marlon Gamba"
                                    },
                                    "field_assistant": {
                                        "description": "Auxiliar de campo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Pedro Alarcon"
                                    },
                                    "location": {
                                        "description": "Sitio",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Huerta N1"
                                    },
                                    "report_date": {
                                        "description": "Fecha del reporte (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2019-05-26 13:45"
                                    },
                                    "people_number": {
                                        "description": "Numero de personas en campo",
                                        "type": "integer",
                                        "format": "integer",
                                        "example": "10"
                                    },
                                    "type": {
                                        "description": "Tipo (1: Establecimiento, 2: Mantenimiento)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "activities": {
                                        "description": "Lista de actividades",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "default_activity_id": {
                                                    "description": "Id de la actividad",
                                                    "type": "string",
                                                    "example": "1"
                                                },
                                                "hours": {
                                                    "description": "Cantidad de horas",
                                                    "type": "integer",
                                                    "example": "5"
                                                },
                                                "quantity": {
                                                    "description": "Cantidad de unidad de medida",
                                                    "type": "integer",
                                                    "example": "20"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reporte registrado."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/daily-report/project/{id}": {
            "get": {
                "tags": [
                    "[Plant & Civil] Reporte diario"
                ],
                "summary": "Ver reportes diarios de un proyecto",
                "operationId": "App\\Http\\Controllers\\Api\\DailyReportController::showByProject",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del proyecto",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mostrar todos los reportes."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/default-activity": {
            "get": {
                "tags": [
                    "[Plantación] Actividad"
                ],
                "summary": "Mostrar lista de actvidades",
                "operationId": "App\\Http\\Controllers\\Api\\DefaultActivityController::index",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los actividades."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "post": {
                "tags": [
                    "[Plantación] Actividad"
                ],
                "summary": "Registrar Actividad",
                "operationId": "App\\Http\\Controllers\\Api\\DefaultActivityController::store",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "name": {
                                        "description": "Nombre de la actividad",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Rocería"
                                    },
                                    "measuring_unit": {
                                        "description": "Unidad de la medida de la actividad",
                                        "type": "string",
                                        "format": "string",
                                        "example": "m2"
                                    },
                                    "activity_type_id": {
                                        "description": "Id del tipo de actividad (1: Establecimiento, 2: Mantenimiento, 3: Civil)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Actividad registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/default-activity/{id}": {
            "get": {
                "tags": [
                    "[Plantación] Actividad"
                ],
                "summary": "Ver Actividades segun tipo",
                "operationId": "App\\Http\\Controllers\\Api\\DefaultActivityController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del tipo (1: Establecimiento, 2: Mantenimiento, 3: Civil, 4: Plantación)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mostrar todos los actividades."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "put": {
                "tags": [
                    "[Plantación] Actividad"
                ],
                "summary": "Editar Actividad",
                "operationId": "App\\Http\\Controllers\\Api\\DefaultActivityController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id (Primary Key) de la Actividad",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "name": {
                                        "description": "Nombre de la actividad",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Rocería"
                                    },
                                    "measuring_unit": {
                                        "description": "Unidad de la medida de la actividad",
                                        "type": "string",
                                        "format": "string",
                                        "example": "m2"
                                    },
                                    "activity_type_id": {
                                        "description": "Id del tipo de actividad (1: Establecimiento, 2: Mantenimiento, 3: Civil, 4: Plantación)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Actividad editada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/risks/dryravine-round": {
            "get": {
                "tags": [
                    "[Riesgos] Recorrido de inspección a quebrada seca"
                ],
                "summary": "Mostrar lista de recorridos de quebrada",
                "operationId": "App\\Http\\Controllers\\Api\\DryRavineRoundController::index",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los recorridos de quebrada."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "post": {
                "tags": [
                    "[Riesgos] Recorrido de inspección a quebrada seca"
                ],
                "summary": "Registrar recorrido de quebrada",
                "operationId": "App\\Http\\Controllers\\Api\\DryRavineRoundController::store",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "code": {
                                        "description": "Codigo del recorrido de quebrada (max 10ch)",
                                        "type": "string",
                                        "format": "string",
                                        "example": "RQ01"
                                    },
                                    "report_date": {
                                        "description": "Fecha y hora del reporte (YYYY-MM-DD hh:mm)",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2019-05-26 13:45"
                                    },
                                    "waterdam": {
                                        "description": "Represamientos (1: Si, 2: No)",
                                        "type": "number",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "wd_location": {
                                        "description": "Ubicación del represamiento",
                                        "type": "string",
                                        "format": "string",
                                        "example": "En el metro 3 de la quebrada"
                                    },
                                    "wd_description": {
                                        "description": "Descripción del represamiento",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Se generó un represamiento"
                                    },
                                    "materialdrag": {
                                        "description": "Arrastre de material (1: Si, 2: No)",
                                        "type": "number",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "md_location": {
                                        "description": "Ubicación de la arrastre de material",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Desde el metro 5 de la quebrada"
                                    },
                                    "md_description": {
                                        "description": "Descripción de la arrastre de material",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Se arrastro material de construccion"
                                    },
                                    "noises": {
                                        "description": "Presencia de ruidos (1: Si, 2: No)",
                                        "type": "number",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "ns_location": {
                                        "description": "Ubicación de la presencia de ruidos",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Desde el metro 10 de la quebrada"
                                    },
                                    "ns_description": {
                                        "description": "Descripción de la presencia de ruidos",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Un ruido estruendoso"
                                    },
                                    "level": {
                                        "description": "Nivel de emergencia (Se mide de 1 a 5)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "responsible_name": {
                                        "description": "Nombre del responsable",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Marlon Gamba"
                                    },
                                    "responsible_id": {
                                        "description": "Identificacion del responsable",
                                        "type": "string",
                                        "format": "string",
                                        "example": "123456789"
                                    },
                                    "observations": {
                                        "description": "Observaciones",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "user_id": {
                                        "description": "Id del usuario logueado",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/risks/dryravine-round/{id}": {
            "get": {
                "tags": [
                    "[Riesgos] Recorrido de inspección a quebrada seca"
                ],
                "summary": "Lista de los recorridos de quebrada de un proyecto",
                "operationId": "App\\Http\\Controllers\\Api\\DryRavineRoundController::show",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del proyecto",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Consolidado del inventario."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "put": {
                "tags": [
                    "[Riesgos] Recorrido de inspección a quebrada seca"
                ],
                "summary": "Editar recorrido de quebrada",
                "operationId": "App\\Http\\Controllers\\Api\\DryRavineRoundController::update",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id (Primary key) del Recorrido de quebrada",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "code": {
                                        "description": "Codigo del recorrido de quebrada (max 10ch)",
                                        "type": "string",
                                        "format": "string",
                                        "example": "RQ01"
                                    },
                                    "report_date": {
                                        "description": "Fecha y hora del reporte (YYYY-MM-DD hh:mm)",
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2019-05-26 13:45"
                                    },
                                    "waterdam": {
                                        "description": "Represamientos (1: Si, 2: No)",
                                        "type": "number",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "wd_location": {
                                        "description": "Ubicación del represamiento",
                                        "type": "string",
                                        "format": "string",
                                        "example": "En el metro 3 de la quebrada"
                                    },
                                    "wd_description": {
                                        "description": "Descripción del represamiento",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Se generó un represamiento"
                                    },
                                    "materialdrag": {
                                        "description": "Arrastre de material (1: Si, 2: No)",
                                        "type": "number",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "md_location": {
                                        "description": "Ubicación de la arrastre de material",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Desde el metro 5 de la quebrada"
                                    },
                                    "md_description": {
                                        "description": "Descripción de la arrastre de material",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Se cayeron 5 rocas"
                                    },
                                    "noises": {
                                        "description": "Presencia de ruidos (1: Si, 2: No)",
                                        "type": "number",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "ns_location": {
                                        "description": "Ubicación de la presencia de ruidos",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Desde el metro 10 de la quebrada"
                                    },
                                    "ns_description": {
                                        "description": "Descripción de la presencia de ruidos",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Un ruido estruendoso"
                                    },
                                    "level": {
                                        "description": "Nivel de emergencia (Se mide de 1 a 5)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "responsible_name": {
                                        "description": "Nombre del responsable",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Marlon Gamba"
                                    },
                                    "responsible_id": {
                                        "description": "Identificacion del responsable",
                                        "type": "string",
                                        "format": "string",
                                        "example": "123456789"
                                    },
                                    "observations": {
                                        "description": "Observaciones",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "project_id": {
                                        "description": "Id del proyecto",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "user_id": {
                                        "description": "Id del usuario logueado",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cliente registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/risks/dryravine-round/export/{id}": {
            "get": {
                "tags": [
                    "[Riesgos] Recorrido de inspección a quebrada seca"
                ],
                "summary": "Consolidado",
                "operationId": "App\\Http\\Controllers\\Api\\DryRavineRoundController::export",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del proyecto",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Consolidado del inventario."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/forest-unit": {
            "get": {
                "tags": [
                    "Individuos forestales"
                ],
                "summary": "Mostrar lista de individuos forestales",
                "operationId": "App\\Http\\Controllers\\Api\\ForestUnitController::index",
                "responses": {
                    "200": {
                        "description": "Mostrar todos los proyectos."
                    },
                    "204": {
                        "description": "No hay resultados que mostrar."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Individuos forestales"
                ],
                "summary": "Segunda Fase IF - APROVECHAMIENTO",
                "operationId": "App\\Http\\Controllers\\Api\\ForestUnitController::store",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "code": {
                                        "description": "Codigo del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "102F"
                                    },
                                    "common_name": {
                                        "description": "Nombre comun del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Torcazo"
                                    },
                                    "scientific_name": {
                                        "description": "Nombre cientifico del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Schefflera morototoni",
                                        "nullable": true
                                    },
                                    "family": {
                                        "description": "Familia del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Euphorbiaceac",
                                        "nullable": true
                                    },
                                    "cap_cm": {
                                        "description": "CAP (Medido en cm)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "40.0"
                                    },
                                    "total_heigth_m": {
                                        "description": "Altura total (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "10.0"
                                    },
                                    "commercial_heigth_m": {
                                        "description": "Altura comercial (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "7.0"
                                    },
                                    "x_cup_diameter_m": {
                                        "description": "Diametro de copa X (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "6.0"
                                    },
                                    "y_cup_diameter_m": {
                                        "description": "Diametro de copa Y (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "6.0"
                                    },
                                    "waypoint": {
                                        "description": "Waypoint",
                                        "type": "string",
                                        "format": "string",
                                        "example": "968455"
                                    },
                                    "epiphytes": {
                                        "description": "Epífitas (1: Si, 2: No)",
                                        "type": "string",
                                        "format": "string",
                                        "example": "1"
                                    },
                                    "condition": {
                                        "description": "Estado fisico (1: Malo, 2: Regular, 3: Bueno)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "health_status": {
                                        "description": "Estado Sanitario (1: Malo, 2: Regular, 3: Bueno)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "origin": {
                                        "description": "Origen (1: Nativa, 2: Exotica)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "cup_density": {
                                        "description": "Densidad de copa (1: Clara, 2: Media, 3: Espesa, 4: No aplica)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "products": {
                                        "description": "Productos y Posible uso  (1: Leña, 2: Madera)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "margin": {
                                        "description": "Margen (1: Derecha, 2: Izquierda)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "treatment": {
                                        "description": "Tipo de manejo (1: Tala, 2: Perman. Y/poda, 3: Bloque y T. , 4: Plantar)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "state": {
                                        "description": "Estado (1: Talado, 2: No Talado, 3: En proceso, 4: Sin Iniciar, 5: Inhabilitado, 6: Sin definir)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "4"
                                    },
                                    "resolution": {
                                        "description": "Resolución",
                                        "type": "string",
                                        "format": "string",
                                        "example": "0366",
                                        "nullable": true
                                    },
                                    "id_image": {
                                        "description": "Foto del id",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "general_image": {
                                        "description": "Foto general del arbol",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "after_image": {
                                        "description": "Foto del despues del aprovechamiento",
                                        "type": "string",
                                        "format": "string"
                                    },
                                    "start_treatment": {
                                        "description": "Fecha de inicio",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2019-04-25"
                                    },
                                    "end_treatment": {
                                        "description": "Fecha de finalización",
                                        "type": "string",
                                        "format": "date",
                                        "example": "2019-04-28"
                                    },
                                    "note": {
                                        "description": "Observaciones",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Sin observaciones"
                                    },
                                    "functional_unit_id": {
                                        "description": "Id de la unidad funcional",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "2"
                                    },
                                    "user_id": {
                                        "description": "Id del usuario logueado",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Proyecto registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/forest-unit/first-phase": {
            "post": {
                "tags": [
                    "Individuos forestales"
                ],
                "summary": "Primera fase IF - INVENTARIO",
                "operationId": "App\\Http\\Controllers\\Api\\ForestUnitController::firstPhase",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "code": {
                                        "description": "Codigo del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "103F"
                                    },
                                    "common_name": {
                                        "description": "Nombre comun del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Torcazo"
                                    },
                                    "scientific_name": {
                                        "description": "Nombre cientifico del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "origin": {
                                        "description": "Origen (1: Nativa, 2: Exotica)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "cap_cm": {
                                        "description": "CAP (Medido en cm)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "40.0"
                                    },
                                    "total_heigth_m": {
                                        "description": "Altura total (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "10.0"
                                    },
                                    "commercial_heigth_m": {
                                        "description": "Altura comercial (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "7.0"
                                    },
                                    "cup_density": {
                                        "description": "Densidad de copa (1: Clara, 2: Media, 3: Espesa, 4: No aplica)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "epiphytes": {
                                        "description": "Epífitas (1: Si, 2: No)",
                                        "type": "string",
                                        "format": "string",
                                        "example": "1"
                                    },
                                    "condition": {
                                        "description": "Estado fisico (1: Malo, 2: Regular, 3: Bueno)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "health_status": {
                                        "description": "Estado Sanitario (1: Malo, 2: Regular, 3: Bueno)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "x_cup_diameter_m": {
                                        "description": "Diametro de copa X (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "6.0"
                                    },
                                    "y_cup_diameter_m": {
                                        "description": "Diametro de copa Y (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "6.0"
                                    },
                                    "waypoint": {
                                        "description": "Waypoint",
                                        "type": "string",
                                        "format": "string",
                                        "example": "968455"
                                    },
                                    "id_image": {
                                        "description": "Foto del id",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "general_image": {
                                        "description": "Foto general del arbol",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "reference_image": {
                                        "description": "Foto de referencia para identificarlo",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "note": {
                                        "description": "Observaciones",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Sin observaciones"
                                    },
                                    "functional_unit_id": {
                                        "description": "Id de la unidad funcional",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "user_id": {
                                        "description": "Id del usuario logueado",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Proyecto registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
                        "description": "Ingreso no autorizado."
                    },
                    "405": {
                        "description": "metodo HTTP no permitido."
                    },
                    "default": {
                        "description": "Ha ocurrido un error."
                    }
                }
            }
        },
        "/api/forest-unit/first-phase/{id}": {
            "put": {
                "tags": [
                    "Individuos forestales"
                ],
                "summary": "Editar primera fase de individuo forestal (Inventario)",
                "operationId": "App\\Http\\Controllers\\Api\\ForestUnitController::firstPhaseUpdate",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Id (Primary key) del IF",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [],
                                "properties": {
                                    "code": {
                                        "description": "Codigo del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "103F"
                                    },
                                    "common_name": {
                                        "description": "Nombre comun del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Torcazo"
                                    },
                                    "scientific_name": {
                                        "description": "Nombre cientifico del individuo",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "origin": {
                                        "description": "Origen (1: Nativa, 2: Exotica)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    },
                                    "cap_cm": {
                                        "description": "CAP (Medido en cm)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "40.0"
                                    },
                                    "total_heigth_m": {
                                        "description": "Altura total (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "10.0"
                                    },
                                    "commercial_heigth_m": {
                                        "description": "Altura comercial (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "7.0"
                                    },
                                    "cup_density": {
                                        "description": "Densidad de copa (1: Clara, 2: Media, 3: Espesa, 4: No aplica)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "epiphytes": {
                                        "description": "Epífitas (1: Si, 2: No)",
                                        "type": "string",
                                        "format": "string",
                                        "example": "1"
                                    },
                                    "condition": {
                                        "description": "Estado fisico (1: Malo, 2: Regular, 3: Bueno)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "health_status": {
                                        "description": "Estado Sanitario (1: Malo, 2: Regular, 3: Bueno)",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "x_cup_diameter_m": {
                                        "description": "Diametro de copa X (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "6.0"
                                    },
                                    "y_cup_diameter_m": {
                                        "description": "Diametro de copa Y (Medido en m)",
                                        "type": "number",
                                        "format": "float",
                                        "example": "6.0"
                                    },
                                    "waypoint": {
                                        "description": "Waypoint",
                                        "type": "string",
                                        "format": "string",
                                        "example": "968455"
                                    },
                                    "id_image": {
                                        "description": "Foto del id",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "general_image": {
                                        "description": "Foto general del arbol",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "reference_image": {
                                        "description": "Foto de referencia para identificarlo",
                                        "type": "string",
                                        "format": "string",
                                        "nullable": true
                                    },
                                    "note": {
                                        "description": "Observaciones",
                                        "type": "string",
                                        "format": "string",
                                        "example": "Sin observaciones"
                                    },
                                    "functional_unit_id": {
                                        "description": "Id de la unidad funcional",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "3"
                                    },
                                    "user_id": {
                                        "description": "Id del usuario logueado",
                                        "type": "integer",
                                        "format": "int32",
                                        "example": "1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Proyecto registrada."
                    },
                    "400": {
                        "description": "Request mal mandado."
                    },
                    "401": {
[...]
